
* {
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
  padding-inline-start: 0;
}

/* Accordion indicator styling */
summary, 
summary::-webkit-details-marker { 
  /* list-style-type: '+'; */
  list-style: none;
}
summary::before {
   /* content: "+";  */
    /* position: absolute;  */
      /* content: "\276F"; */
}

/* 
ol li:before { 
    content: "+"; 
    position: absolute; 
    left: -5px;
}
ol li { 
    text-indent: -5px; 
} */