<li{{ if eq .Permalink "/faq/" }} class="active" {{ end }}>
	<a href="{{ "/faq" | absURL }}">FAQ</a>
	</li>
	<li{{ if eq .Permalink "/kontakt/" }} class="active" {{ end }}>
		<a href="{{ "/kontakt" | absURL }}">Kontakt</a>
		</li>
		<li{{ if eq .Permalink "/anfrage/" }} class="active" {{ end }}>
			<a href="{{ "/anfrage" | absURL }}">Jetzt anfragen</a>
			</li>
			{{/*  <li{{ if or (eq .Permalink "/articles/") (eq .Type "articles") }} class="active" {{ end }}>
			<a href="{{ "/articles" | absURL }}">Articles</a>
			</li> */}}