{{/*  <a href="/faq" class="active block mt-4 lg:inline-block lg:mt-0 text-primary hover:text-primary mr-4">FAQ</a>
<a href="/kontakt" class="active block mt-4 lg:inline-block lg:mt-0 text-primary hover:text-primary mr-4">Kontakt</a>  */}}

{{ $currentPage := . }}
{{ range .Site.Menus.main }}
<a class="block mt-4 lg:inline-block lg:mt-0 text-primary hover:text-primary mr-4 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
	href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
{{ end }}

<a href="/anfrage"
	class="inline-block text-sm px-4 py-2 leading-none border rounded text-primary border-primary hover:border-transparent hover:text-light hover:bg-primary mt-4 lg:mt-0">Jetzt
	anfragen</a>